.flex {
    display: flex;
}
.flex-direction-c {
    flex-direction: column;
}
.justify-content-sb {
    justify-content: space-between;
}
.justify-content-c {
    justify-content: center;
}
.center {
    display: grid;
    place-items: center;
}

.mag-left {
    margin-left: 25%;
}

