@import url("utility.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}
.container {
    height: 100dvh;
}
.app-wrapper {
    width: 65rem;
    height: 45rem;
    padding: 1.5rem;
}
.box {
    width: 10rem;
    height: 10rem;
}
.app-wrapper, .box {
    border: 1px solid  black;
}